* {
  scrollbar-color: #454a4d #202324;
}

body {
  background-color: rgb(81, 49, 0);
  color: aliceblue;
}

.etchContainer {
  background-color: rgb(0, 60, 60);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 32px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  padding: 32px;
}

.column {
  flex: 2 1 auto;
}

.gridItem {
  margin: 2px;
  padding-top: 100%;
  min-width: 2rem;
  background-color: chocolate;
  text-align: center;
}

.gridItemHover {
  background-color: yellow;
}
